<h2><strong>'<%= @robot.name %>'</strong> is who we're analyzing now</h2>
<hr>

<p>
  <strong>Name:</strong>
  <%= @robot.name %>
</p>
 
<p>
  <strong>Creator:</strong>
  <%= @robot.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @robot.description %>
</p>


<%= link_to 'Edit', edit_robot_path(@robot) %>
<%= link_to 'Back', robots_path %>
